.hero {
    position: relative;
    height: 962px; 
}

.hero-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    background-image: url('/img_logo/background-hero.jpeg'); 
}

.hero-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.mentions-rgpd {
    margin-left: 146px;
    margin-right: 146px;

}

.mentions-rgpd h2 {
    text-transform: uppercase;
}

.mentions-rgpd h3 {
    text-transform: uppercase;
}

.mentions-rgpd p {
    text-transform: none;
    font-family: 'Poppins Light';
    font-weight: 400;
    font-size: 16px;
    line-height: 20.73px;
}


