.custom-post-thumbnails {
    max-width: 1126px;  
    margin: 0 auto;  
    text-align: center; 
}

.thumbnail-container-accueil {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between;  
    margin-top: 20px; 
    margin-left: 149px;
    margin-right: 149px; 
}

.custom-post-thumbnail {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
}

.thumbnail-wrapper {
    position: relative;  
    overflow: hidden;  
    padding-bottom: 100%; 
}

.thumbnail-wrapper img {
    position: absolute; 
    top: 0;  
    left: 0;  
    width: 100%; 
    height: 100%;  
    object-fit: cover;  
}

/* OVERLAY */

.thumbnail-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0;  
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    transition: opacity 0.3s;  
}

.thumbnail-wrapper:hover .thumbnail-overlay {
    opacity: 1;  
}

.thumbnail-overlay img {
    width: 46px; 
    height: 32px;  
    position: absolute;  
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  
}

.thumbnail-overlay-single img {
    width: 46px; 
    height: 32px;  
    position: absolute;  
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  
}

.fullscreen-icon {
    position: absolute;
    top: 30px;  
    right: 30px;
}

.fullscreen-icon img {
    width: 34px;
    height: 34px;
}


.view-all-button {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    margin-bottom: 40px; 
}

#load-more-posts {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    width: 272px;  
    height: 50px;  
    background-color: #D8D8D8;
    color: #000000;  
    text-decoration: none;  
    border-radius: 2px;  
    transition: .3s ease-in-out;  
    cursor: pointer;  
    font-family: "Space Mono";  
    font-size: 12px;  
    font-weight: 400;  
    line-height: 17.77px;  
    letter-spacing: 0em;  
    text-align: center;  
    border: none;  
    margin-top: 20px;  
}

#load-more-posts:hover {
    color: #ffffff;  
    background-color: #000000;  
}

/* FILTRE TRI */

.filters-and-sort {
    max-width: 1126px;  
    margin: 0 auto;  
    text-align: center;  
    margin-top: 90px; 
    display: flex; 
    justify-content: start;
}

.filters-and-sort label, .filters-and-sort select {
    font-family: Poppins;  
    font-size: 12px;  
    font-weight: 500;  
    line-height: 18px;  
    letter-spacing: 0.03em;  
    text-align: left;  
    text-transform: uppercase;  
}

#category-filter{
    margin-right: 30px;
}

#date-sort{
    margin-left: 320px;
}

#category-filter,
#format-filter,
#date-sort{
    width: 260px;  
    height: 43px;  
    padding: 11px 18px 11px 18px;  
    margin-bottom: 20px; 
    border-radius: 8px;  
    border: 1.3px solid #B8BBC2;  
    justify-content: space-between;
}

/* MEDIA FILTRE */

@media (max-width: 768px) {
    .filters-and-sort {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px; 
    }

    #category-filter,
    #format-filter,
    #date-sort{
        margin-bottom: 0; 
}

    #category-filter,
    #date-sort{
        margin: 10px 0;
    }

}

/* MEDIA*/

@media (max-width: 768px) {
    .thumbnail-container-accueil {
        display: block;  
    }
    .custom-post-thumbnail {
        flex-basis: 100%;  
    }
    .custom-post-thumbnail {
        margin-bottom: 10px;  
    }
}
